.table > tbody > tr:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.red {
	background-color: #cc0000;
}

.loading-spiner-holder {
 position: absolute;
 left:50%;
 top:50%;
 width: 100px;
 height: 100px;
}

.alto-fijo-recibo{
  /*Tamaño A4  595 x 842*/
  /* height: 585px; */
  /* height: 700px; */
  height: 660px;
}



.linea-punteada {
  background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

.badge-warning {
  background-color: #f89406;
}

.badge-success {
  background-color: #468847;
}

.badge-error {
  background-color: #b94a48;
}

.badge-notify-grey{
   background:grey;
   position:relative;
   top: 0px;
   left: 7px;
}

.badge-notify-red{
   background:red;
   position:relative;
   top: 0px;
   left: 7px;
}

.profe {

padding-left: 15px;
padding-right: 15px;
margin-left: 10px;
margin-right: 10px;
}

.coordinador{
  color: olivedrab

}

/* navbar color verde */
/*
.navbar {
  background-color: #9DCA4B;
}

#btn-tool span {
  background-color: white !important;
}

.navbar *{
  color: #F2F2F2 !important
}
*/